{% extends "base.html" %}
{% load staticfiles %}
{% block body_block %}

<!--start: Container -->
<div class="container">

    <!--start: Wrapper-->
    <div id="wrapper">

        <hr class="clean">

        <!-- start: Row -->
        <div class="row-fluid">


            <div class="span6">
                <div  class="box">

                    <a href="{% url 'desktop:labs' %}" title="Labs"><img
                            src="{% static 'img/logoLabs.png' %}" width="40%" height="40%" align="left" alt=""/>

                        <div class="image-overlay-link"></div>
                    </a>
                    <a href="{% url 'desktop:labs' %}"><h1 class="blue-heading-h1">Labs</h1></a>
                    <h5></h5>
                    <br>
                    <p class="blue-heading-h4" >
                        Click here to discover more about the techniques used and the intended learning outcomes for each day in the lab.
                    </p>

                    <div class="clear"></div>
                </div>
            </div>

            <div class="span6">
                <div class="box">

                    <a href="{% url 'desktop:rev_constr' %}" title="Revision"><img
                            src="{% static 'img/logoRevision.png' %}" width="40%" height="40%" align="left" alt=""/>

                        <div class="image-overlay-link"></div>
                    </a>
                    <a href="{%  url 'desktop:rev_constr' %}"><h1 class="blue-heading-h1">Revision</h1></a>
                    <h5></h5>
                    <br>
                    <div class="blue-heading-h4" >
                        Click here for a number of resources that should enhance your understanding of the Molecular Methods course.
                    </div>

                    <div class="clear"></div>
                </div>
            </div>

        </div>
        <!-- end: Row -->

        <!--end: Wrapper-->
    </div>
    <!--end: Container-->
</div>
{% endblock %}
