{% extends "base.html" %}
{% load staticfiles %}
{% block body_block %}
    <!--start: Container -->
    <div class="container">
        <!--start: Wrapper-->
        <div id="wrapper">
            <iframe width="560" height="315"allowfullscreen="" src="https://www.youtube.com/embed/GgcGFyDvyFA" frameborder="0"></iframe>
            <iframe width="560" height="315"allowfullscreen="" src="http://www.youtube.com/embed/yR_heZ4n4Gc" frameborder="0"></iframe>
            <iframe width="560" height="315"allowfullscreen="" src="http://www.youtube.com/embed/MeTWD8ECeiQ" frameborder="0"></iframe>
            <iframe width="560" height="315"allowfullscreen="" src="http://www.youtube.com/embed/c-f1H07D_70" frameborder="0"></iframe>
             <iframe width="560" height="315"allowfullscreen="" src="http://www.youtube.com/embed/vOwdQRBENJQ" frameborder="0"></iframe>
             <iframe width="560" height="315"allowfullscreen="" src="https://www.youtube.com/embed/pVNpFP2Wmlc" frameborder="0"></iframe>
             <iframe width="560" height="315"allowfullscreen="" src="https://www.youtube.com/embed/vHx4nqRdpMg" frameborder="0"></iframe>


{% comment %}
            <script type="text/javascript">

                $(document).ready(function() {
                    $('#myCarousel').carousel({
                        //options here
                    });
                });

            </script>

            <h2 class="blue-heading-h1">Molecular Methods Video Collection</h2>
            <h4>The slideshow below shows the complete collection of videos for the Molecular Methods course. Please use the arrows to cycle through the videos.</h4>
            <div class="carousel">
                <div id="myCarousel" class="carousel slide">

                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="flex-video widescreen" style="margin: 0 auto;text-align:left;">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/GgcGFyDvyFA" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="item">
                            <div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
                                <iframe allowfullscreen="" src="http://www.youtube.com/embed/yR_heZ4n4Gc" frameborder="0"></iframe>
                            </div>
                        </div>
                        <div class="item">
                            <div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
                                <iframe allowfullscreen="" src="http://www.youtube.com/embed/MeTWD8ECeiQ" frameborder="0"></iframe>
                            </div>
                        </div>
                        <div class="item">
                            <div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
                                <iframe allowfullscreen="" src="http://www.youtube.com/embed/c-f1H07D_70" frameborder="0"></iframe>
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
                </div>
            </div>{% endcomment %}
{#            <script>#}
{#                $(document).ready(function() {#}
{#                    $('#myCarousel').carousel({#}
{#                        //options here#}
{#                    });#}
{#                });#}
{##}
{#            </script>#}

        </div>
    </div>
{% endblock %}